body{
    direction: rtl;
    background-color: beige;
}
#content{
    border: 5px rgb(224, 171, 171) solid ;
    margin-left: 500px;
    margin-bottom: 40px;
    margin-top: 65px;
    margin-right: 600px;
    padding-right: 80px;
    
    color: beige;
    background-color: rgb(224, 171, 171) ;
    border-radius: 15px;
    
}
